@font-face {
	src: url(/fonts/FrancoisOne-Regular.ttf);
	font-family: Francoise;
	font-weight: 400;
}

@font-face {
	src: url(/fonts/GildaDisplay-Regular.ttf);
	font-family: Gilda;
	font-weight: 400;
}

@font-face {
	src: url(/fonts/Quicksand-Light.ttf);
	font-family: Quicksand;
	font-weight: 300;
}

@font-face {
	src: url(/fonts/Quicksand-Regular.ttf);
	font-family: Quicksand;
	font-weight: 400;
}

@font-face {
	src: url(/fonts/Quicksand-Medium.ttf);
	font-family: Quicksand;
	font-weight: 500;
}

@font-face {
	src: url(/fonts/Quicksand-SemiBold.ttf);
	font-family: Quicksand;
	font-weight: 600;
}

@font-face {
	src: url(/fonts/Quicksand-Bold.ttf);
	font-family: Quicksand;
	font-weight: 700;
}
