$ff-francoise: Francoise, sans-serif;
$ff-gilda: Gilda, sans-serif;
$ff-quicksand: Quicksand, sans-serif;

$font-sizes: (
	900: 3.75rem,
	800: 3rem,
	600: 1.5rem,
	500: 1.3125rem,
	400: 1.125rem,
	300: 0.9375rem,
);

$fw-400: 400;
$fw-700: 700;
