@use '../abstracts' as *;

.product-categories {
	margin: 2em 0;

	&__list {
		margin-top: 1em;
		border: 1px dashed var(--clr-secondary-light);
		padding: 1.5em 1.2em;

		ul {
			list-style: none;

			li {
				cursor: pointer;
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid var(--clr-secondary-light);
				font-family: $ff-quicksand;
				margin-bottom: 1em;
				font-size: fs(300);
				font-weight: 600;
				transition: color 0.5s;

				&:hover {
					color: var(--clr-primary);
				}
			}
		}
	}

	h1 {
		text-transform: uppercase;
		font-size: fs(600);
	}
}
