.product-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 0 2em;
	gap: 1.5em;
	height: fit-content;
}

.no-product {
	padding: 1em 3em;
	height: fit-content;
	border: 1px dashed var(--clr-primary);

	h1 {
		font-size: 26px;
		color: var(--clr-primary);
	}
}
